*{ /**regra reset, eletira todas as margens**/
margin: 0;
padding: 0;
}
html,body{
    height:100%;
}
body{
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(204,122,54);
    background: linear-gradient(176deg, rgba(204,122,54,1) 0%, rgba(237,218,69,1) 100%);
    background-attachment: fixed;
}
.avatar{
    width: 80px;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: 0 0 20px white;
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 1.5px;
}
h2{
    font-size: 16px ;
}
.profile{
    margin-top: 20px;
    text-align: center;
}
.socialmedia{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0px;
}
.socialmedia img{
    width: 33px;
}
.links-list{
    list-style: none;
}
.links-list li{
    margin: 10px 20px;
    box-shadow: 0 0 12px white;

}
.links-list li a{
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-weight: bold;
}
.links-list li a span{
    color: grey;
    display: block;
    margin-top: 10px;
}
.links-list2{
    list-style: none;
}
.pri{
    margin-top: 30px;
}
.links-list2 li{
    margin: 10px 20px;
    box-shadow: 0 0 12px white;

}
.links-list2 li a{
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(6, 9, 24);
    font-weight: bold;
}
.links-list2 li a span{
    color: grey;
    display: block;
    margin-top: 10px;
}