*{ /**regra reset, eletira todas as margens**/
margin: 0;
padding: 0;
}
html,body{
    height:100%;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(10, 10, 10);
    background: rgb(255, 255, 255);
    background: linear-gradient(176deg, rgb(255, 255, 255) 0%, rgb(153, 153, 153) 100%);
    background-attachment: fixed;
}
.avatar{
    width: 100px;
    padding: 2px;
    border-radius: 50px;
    border: 2px solid black;
    /**box-shadow: 0 0 10px black;**/
}
h1{
    font-family: 'Kaushan Script', cursive;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 1.5px;
}
h2{
    font-size: 16px ;
    padding: 10px;
}
.profile{
    margin-top: 20px;
    text-align: center;
}
.socialmedia{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0px;
}
.socialmedia img{
    width: 33px;
}
.links-list{
    list-style: none;
}
.links-list li{
    margin: 10px 20px;

}
.links-list li a{
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 40px;
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-weight: bold;
}
.links-list li a span{
    color: grey;
    display: block;
    margin-top: 10px;
}
.links-list2{
    list-style: none;
}
.pri{
    margin-top: 30px;
}
.links-list2 li{
    margin: 10px 20px;
    box-shadow: 0 0 12px white;

}
.links-list2 li a{
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(6, 9, 24);
    font-weight: bold;
}
.links-list2 li a span{
    color: grey;
    display: block;
    margin-top: 10px;
}
footer{
    margin-top: 20px;
    text-align: center;
    font-size: small;
}
